@page "/home"
@page "/"
@using System.Security.Claims;
<MudContainer Style="display: inline-block; position: fixed; top: 0; bottom: 0; left: 0; right: 0; width: 900px; height: 300px; margin: auto; ">
    <MudGrid>
        <MudItem xs="12" sm="12" md="12">
            <MudText Align="Align.Center" Typo="Typo.h2" Class="mt-4">Quick Chat</MudText>
            <MudText Align="Align.Center" Typo="Typo.subtitle1" Class="smaller">A Real Time Chat Application</MudText>
            <MudText Align="Align.Center" Typo="Typo.body2">Developed & Maintanance by Team 12</MudText>
            <br /><br />
            <MudText Align="Align.Center" Typo="Typo.body2">Contributor:</MudText>
            <MudText Align="Align.Center" Typo="Typo.body2">Team Lead: Ahsan Md. Sajid Khan</MudText>
            <MudText Align="Align.Center" Typo="Typo.body2">Developer: Tahmina Akter</MudText>
            <MudText Align="Align.Center" Typo="Typo.body2">Tester: Kunal Jayantibhai Patel</MudText>
            <MudText Align="Align.Center" Typo="Typo.body2">Business Analyst: Amrit Raj Shah</MudText>
        </MudItem>
        <MudItem xs="12" sm="12" md="12">
            <div class="pa-4 justify-center my-4 mud-text-align-center">
                 
</div>
        </MudItem>
    </MudGrid>
</MudContainer>